{
"GOOGLE_API_KEY": "YOUR_API_KEY_HERE",
"prompt_data_config":{
    "prompt_choice": "Recommended",
    "allergies": ["Dairy", "Nuts", "Soy"],
    "types_of_food": ["Mexican", "Latin American", "Portuguese"],
    "available_ingredients": "",
    "drink_pairing": true
    }
}